# Kopiere diese Datei nach /etc/systemd/system/
[Unit]
Description=dts-convert Service für dts-convert.sh
Wants=network-online.target

[Service]
Type=simple
User=stef
Group=net
ExecStart=/home/stef/github/helper/skripte/dts-convert/dts-convert.sh

[Install]
WantedBy=multi-user.target
